node_modules/
.env
*.log
.DS_Store
.local-chromium/
.wwebjs_cache
.wwebjs_auth

# Dados da revenda
contatos.json
atendidos.json
representantes.json
senhaRemuneracao.json
/logs
stafs.json

# Pasta de sessão do WhatsApp
/.session